apply plugin: 'com.android.application'

android {
    compileSdkVersion 28

    defaultConfig {
        applicationId "%APPLICATION_ID%"
        minSdkVersion 15
        targetSdkVersion 28
    }

    sourceSets {
        main {
            java.srcDirs = ['src/java']
            res.srcDirs = ['src/res']
            manifest.srcFile 'src/AndroidManifest.xml'
        }
    }

}
